@import url("https://fonts.googleapis.com/css2?family=Titan+One&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  outline: 0;
  padding: 0;
  text-decoration: none; }

body {
  font-family: 'Titan One', cursive;
  overflow-x: hidden;
  background-color: #878887; }

a {
  text-decoration: none;
  color: white; }

li {
  list-style: none; }

.logo img {
  width: 180px; }

header {
  position: relative;
  box-shadow: 0 0 30px #34ac66; }
  header .nav_bar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5rem 1rem; }
    header .nav_bar .links {
      display: flex;
      gap: 2rem; }
    header .nav_bar .toggle_btn {
      color: white;
      font-size: 1.5rem;
      cursor: pointer;
      display: none; }
    header .nav_bar .carrito {
      background-color: #34ac66;
      color: white;
      padding: 0.5rem 4rem;
      border: none;
      outline: none;
      border-radius: 20px;
      font-size: 1.4rem;
      cursor: pointer;
      transition: scale 0.2 ease; }
    header .nav_bar .carrito:hover {
      scale: 1.05;
      color: white; }
    header .nav_bar .carrito:active {
      scale: 0.95; }
  header a {
    font-size: 1rem; }
  header a:hover {
    color: #34ac66; }

.dropdown_menu {
  position: absolute;
  display: none;
  right: 2rem;
  top: 60px;
  width: 300px;
  height: 0;
  background: rgba(225, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 1s cubic-bezier(0.23, 1, 0.32, 1);
  z-index: 100; }
  .dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center; }
  .dropdown_menu .carrito {
    width: 100%;
    display: flex;
    justify-content: center; }

.open {
  height: 240px; }

@media (max-width: 992px) {
  .carrito {
    display: none; }
  header .nav_bar .links {
    display: none; }
  header .nav_bar .toggle_btn {
    display: block; }
  .dropdown_menu {
    display: block; } }

@media (max-width: 576px) {
  .dropdown_menu {
    left: 2rem;
    width: unset; } }

.slidershow {
  width: 100%;
  height: 600px;
  overflow: hidden; }

.middle {
  position: relative; }

.navigation {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex; }

.bar {
  width: 50px;
  height: 10px;
  border: 2px solid white;
  margin: 6px;
  cursor: pointer;
  transition: 0.4s; }

.bar:hover {
  background: white; }

input[name="r"] {
  position: absolute;
  visibility: hidden; }

.slides {
  width: 500%;
  height: 100%;
  display: flex; }

.slide {
  width: 20%;
  transition: 0.6s; }

.slide img {
  width: 100%;
  height: 100%; }

#r1:checked ~ .s1 {
  margin-left: 0; }

#r2:checked ~ .s1 {
  margin-left: -20%; }

#r3:checked ~ .s1 {
  margin-left: -40%; }

#r4:checked ~ .s1 {
  margin-left: -60%; }

#r5:checked ~ .s1 {
  margin-left: -80%; }

.service {
  display: flex;
  background-color: rgba(19, 18, 18, 0.1);
  width: 100%;
  color: #212529; }

.container_service {
  display: flex;
  padding: 1rem;
  justify-content: space-evenly;
  width: 100%; }

.item_service {
  display: flex;
  width: 100%;
  gap: 10px;
  margin-right: 0.8rem;
  font-size: 1em; }

.icon_service {
  width: 2.5em;
  height: 2.5em; }

.container_cards {
  display: flex;
  justify-content: center;
  gap: 10rem;
  flex-wrap: wrap;
  margin: 6rem auto; }
  .container_cards .card {
    border: none;
    width: 100%; }
    .container_cards .card i {
      font-size: 20rem;
      padding: 1rem; }

.link_card a {
  text-decoration: none; }

.card {
  display: flex;
  position: relative;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #878887;
  background-clip: border-box;
  border-radius: 0 0 20px 20px;
  transition: 1s; }
  .card img {
    width: 30rem;
    height: 20rem; }

.body_card {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  justify-content: center;
  text-align: center;
  border-radius: 0 0 20px 20px;
  padding: 2rem; }

.card:hover {
  scale: 1.1; }

footer {
  width: 100%;
  position: relative;
  bottom: 0;
  background: #0b0c0d;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: white;
  padding: 20px; }

.text {
  font-size: 28px;
  margin: 40px auto; }

footer input[type='email'] {
  width: calc(100vw - 40vw);
  font-size: 25px;
  padding: 10px;
  border-radius: 30px 0 0 30px;
  outline: none;
  border: none;
  color: #0b0c0d; }

footer input[type='submit'] {
  border: none;
  outline: none;
  border-radius: 0 30px 30px 0;
  padding: 10px;
  color: white;
  background: #34ac66;
  font-size: 25px;
  cursor: pointer; }

footer input[type='submit']:hover {
  color: #0b0c0d; }

.list_footer {
  margin: 20px auto;
  display: flex;
  list-style-type: none; }
  .list_footer li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 20px; }

.list_footer li a:hover {
  color: #34ac66; }

.social_media {
  margin: 20px auto; }
  .social_media i {
    padding: 20px;
    font-size: 25px;
    color: white; }

.social_media i:hover {
  color: #34ac66; }

@media (max-width: 810px) {
  .text, footer input[type='email'], footer input[type='submit'] {
    font-size: 20px; }
  .list_footer li a {
    padding: 15px;
    font-size: 15px; }
  .social_media i {
    padding: 10px; } }

@media (max-width: 610px) {
  .text, footer input[type='email'], footer input[type='submit'] {
    font-size: 14px; }
  .list_footer li a {
    padding: 10px;
    font-size: 12px; }
  .social_media i {
    font-size: 15px; } }

@media (max-width: 470px) {
  .text {
    font-size: 12px; }
  .list_footer li a {
    padding: 5px; } }

@media (max-width: 330px) {
  .text {
    font-size: 10px; } }
