@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    outline: 0;
    padding: 0;
    text-decoration: none;
}

::-webkit-scrollbar {
    width: .5rem;
    background: rgb(185, 238, 185);
}

::-webkit-scrollbar-thumb {
    width: .5rem;
    background: $verde;
}

body {
    font-family: 'Fira Sans', sans-serif;
    font-weight: normal;
    overflow-x: hidden;
    background-color: rgb(135, 136, 135);
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
}