@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    outline: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: 'Titan One', cursive;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: white;
}