footer {
    width: 100%;
    position: relative;
    bottom: 0;
    background: #0b0c0d;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: white;
    padding: 20px;
}

.text {
    font-size: 1rem;
    margin: 40px auto;
}

footer input[type='email'] {
    width: calc(100vw - 40vw);
    font-size: 1rem;
    padding: 10px;
    border-radius: 30px 0 0 30px;
    outline: none;
    border: none;
    color: #0b0c0d;
}

footer input[type='submit'] {
    border: none;
    outline: none;
    border-radius: 0 30px 30px 0;
    padding: 10px;
    color: white;
    background: $verde;
    font-size: 1rem;
    cursor: pointer;
}

footer input[type='submit']:hover {
    color: #0b0c0d;
}

.list_footer {
    margin: 20px auto;
    display: flex;
    list-style-type: none;
    li a {
        text-decoration: none;
        color: white;
        font-size: 1rem;
        padding: 20px;
    }
}

.list_footer li a:hover {
    color: $verde;
}

.social_media {
    margin: 20px auto;
    i {
        padding: 20px;
        font-size: 2rem;
        color: white;
    }
}

.social_media i:hover {
    color: $verde;
}

@media(max-width:810px) {
    .list_footer li a {
        padding: 15px;
    }
    .social_media i {
        padding: 10px;
    }
} 

@media(max-width:610px) {
    .list_footer li a {
        padding: 10px;
    }
} 

@media(max-width:470px) {
    .list_footer li a {
        padding: 5px;
    }
}

@media(max-width:360px) {
    .list_footer li a {
        font-size: 0.75rem;
    }
}