.container_cards {
    display: flex;
    justify-content: center;
    gap: 10rem;
    flex-wrap: wrap;
    margin: 6rem auto;
    .card {
        border: none;
        width: 100%;
        i {
            font-size: 18rem;
            padding: 1rem;
        }
    }
}

.link_card a {
    text-decoration: none;
}

.card {
    display: flex;
    position: relative;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: $gris;
    background-clip: border-box;
    border-radius: 0 0 20px 20px;
    transition: 1s ;
    img {
        width: 30rem;
        height: 20rem;
    }
}

.body_card {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    justify-content: center;
    text-align: center;
    border-radius: 0 0 20px 20px;
    padding: 2rem;
}

.card:hover {
    scale: 1.1;
}

@media (max-width:990px){
    .container_cards {
        gap: 5rem;
        .card {
            i {
                font-size: 12rem;
            }
        }
    }
}

@media (max-width:540px){
    .container_cards {
        .card {
            i {
                font-size: 9rem;
            }
        }
    }
}